body{
    font-family: 'Poppins', sans-serif;
}

#game_alert_message{
    width: 500px;
    margin: auto;
}

#score_board{
    width: 700px;
    margin: auto;
}

.title{
    font-family: 'Lilita One', cursive;
    font-size: 65px;
}

.timer{
    font-size: 30px;
}

.option{
    width: 500px;
    margin: auto;
}


@media only screen and (max-width: 380px) {
    #game_alert_message{
        width: 300px;
    }

    .option{
        width: 300px;
    }

    #score_board{
        width: 300px;
    }
}


@media only screen and (max-width: 535px) {
    #game_alert_message{
        width: 350px;
    }

    .option{
        width: 350px;
    }

    #score_board{
        width: 350px;
    }
}